@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e5e5e5;
}

.Navigation {
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  align-items: center;
  padding: 10px 12px;
  height: 40px;
  left: 12px;
  top: calc(50% - 40px / 2);
  text-decoration: none;
  font-size: normal;
  font-weight: 700;
}

.menu {
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 19px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

.menu-obj {
  display: none;
}

header {
  background-color: #fff;
  /* border-bottom-left-radius: 80px; */
  /* gap: 12px; */
}

.Headline {
  background-color: #fff;
  border-bottom-left-radius: 80px;
  gap: 12px;
  background-image: url(./images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 114px 24px 114px 24px;
}

.Headline-Title h1 {
  width: 327px;
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.headline-Text {
  width: 327px;
  height: 146px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.social h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #7f8cff;
  order: 0;
}

.Social-Links ul {
  width: 170.17px;
  height: 20px;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
}
